In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#df = pd.read_csv('cities.csv', quotechar='"', skipinitialspace=True)
df = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/cities.csv', quotechar='"', skipinitialspace=True)

df.columns = df.columns.str.lower().str.replace(' ', '_') # A
 
string_columns = list(df.dtypes[df.dtypes == 'object'].index) # B
 
for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_') # C

In [ ]:
df.head(10)

   LatD  LatM  LatS NS  LonD  LonM  LonS EW             City State
0    41     5    59  N    80    39     0  W       Youngstown    OH
1    42    52    48  N    97    23    23  W          Yankton    SD
2    46    35    59  N   120    30    36  W           Yakima    WA
3    42    16    12  N    71    48     0  W        Worcester    MA
4    43    37    48  N    89    46    11  W  Wisconsin Dells    WI
5    36     5    59  N    80    15     0  W    Winston-Salem    NC
6    49    52    48  N    97     9     0  W         Winnipeg    MB
7    39    11    23  N    78     9    36  W       Winchester    VA
8    34    14    24  N    77    55    11  W       Wilmington    NC
9    39    45     0  N    75    33     0  W       Wilmington    DE

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LatD    128 non-null    int64
 1   LatM    128 non-null    int64
 2   LatS    128 non-null    int64
 3   NS      128 non-null    object
 4   LonD    128 non-null    int64
 5   LonM    128 non-null    int64
 6   LonS    128 non-null    int64
 7   EW      128 non-null    object
 8   City    128 non-null    object
 9   State   128 non-null    object
dtypes: int64(6), object(4)
memory usage: 10.1+ KB

get one example to try

In [ ]:
x = set(df['City'].loc[0]) 
x= set(''.join(x))
y = set(df['City'].loc[1])
y = set(''.join(y))

In [ ]:
x

{'Y', 'g', 'n', 'o', 's', 't', 'u', 'w'}

In [ ]:
y

{'Y', 'a', 'k', 'n', 'o', 't'}

Jaccard Similarity = (number of observations in both sets) / (number in either set)

In [ ]:
intersection_cardinality = len(set(x).intersection(set(y)))
union_cardinality = len(set(x).union(set(y)))
sim = intersection_cardinality / float(union_cardinality)

In [ ]:
intersection_cardinality, union_cardinality, sim

(4, 10, 0.4)

getting similarity for all of cities

In [ ]:
df["City"] = df["City"].str.lower()

In [ ]:
matrix_city = df["City"].str.split("", expand=True).fillna('')

In [ ]:
matrix_city

    0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16 17 18 19
0       y  o  u  n  g  s  t  o  w  n
1       y  a  n  k  t  o  n
2       y  a  k  i  m  a
3       w  o  r  c  e  s  t  e  r
4       w  i  s  c  o  n  s  i  n     d  e  l  l  s
..  .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..
123     r  e  n  o
124     r  e  g  i  n  a
125     r  e  d     b  l  u  f  f
126     r  e  a  d  i  n  g
127     r  a  v  e  n  n  a

[128 rows x 20 columns]

In [ ]:
# Use those indicees to slice out respective columns 
slice1 = matrix_city.loc[:126]
slice2 = matrix_city.loc[1:]

In [ ]:
seq1 = slice1.apply(set, axis=1).reset_index(drop=True)
seq2 = slice2.apply(set, axis=1).reset_index(drop=True)

In [ ]:
seqs = pd.concat([seq1,seq2], axis=1)

In [ ]:
seqs.shape

(127, 2)

In [ ]:
seqs

                                    0                                    1
0          {, s, y, u, w, n, t, g, o}                 {, a, k, y, n, t, o}
1                {, a, k, y, n, t, o}                    {, a, k, y, i, m}
2                   {, a, k, y, i, m}              {, c, e, s, r, w, t, o}
3             {, c, e, s, r, w, t, o}     {, c, s, e, w, i, n,  , l, d, o}
4    {, c, s, e, w, i, n,  , l, d, o}  {, s, a, e, w, i, n, -, l, t, m, o}
..                                ...                                  ...
122        {, h, e, a, r, i, n, l, d}                       {, e, r, n, o}
123                    {, e, r, n, o}                 {, e, a, r, i, n, g}
124              {, e, a, r, i, n, g}           {, e, r, u,  , l, d, b, f}
125        {, e, r, u,  , l, d, b, f}              {, e, a, r, i, n, d, g}
126           {, e, a, r, i, n, d, g}                    {, v, a, e, r, n}

[127 rows x 2 columns]

In [ ]:
#intersection
intersection_seq = seqs[0].values & seqs[1].values
union_seq = seqs[0].values | seqs[1].values

In [ ]:
intersection_seq[:5]

array([{'', 'y', 'n', 't', 'o'}, {'', 'a', 'k', 'y'}, {''},
       {'', 'c', 'e', 's', 'w', 'o'},
       {'', 's', 'e', 'w', 'i', 'n', 'l', 'o'}], dtype=object)

In [ ]:
union_seq[:5]

array([{'', 's', 'a', 'k', 'y', 'u', 'w', 'n', 't', 'g', 'o'},
       {'', 'a', 'k', 'y', 'i', 'n', 't', 'm', 'o'},
       {'', 'c', 'a', 'k', 'e', 'y', 's', 'r', 'w', 'i', 't', 'm', 'o'},
       {'', 'c', 'e', 's', 'r', 'n', ' ', 'l', 'w', 'i', 't', 'd', 'o'},
       {'', 'c', 's', 'e', 'n', ' ', 'l', 'a', 'w', 'i', '-', 't', 'd', 'm', 'o'}],
      dtype=object)

In [ ]:
len_intersection_seq = list(map(len, intersection_seq))
len_union_seq = list(map(len, union_seq))

In [ ]:
np.array(np.subtract(len_intersection_seq, 1),  dtype=float) / np.array(np.subtract(len_union_seq, 1),  
                                                                        dtype=float)

array([0.4       , 0.375     , 0.        , 0.41666667, 0.5       ,
       0.30769231, 0.36363636, 0.30769231, 1.        , 0.66666667,
       0.54545455, 0.63636364, 0.38461538, 0.6       , 0.3       ,
       0.26666667, 0.46153846, 0.25      , 0.11111111, 0.375     ,
       0.375     , 0.4       , 1.        , 0.75      , 0.5       ,
       0.21428571, 0.27272727, 0.28571429, 0.33333333, 0.11111111,
       0.3       , 0.33333333, 0.30769231, 0.30769231, 0.33333333,
       0.2       , 0.375     , 0.1       , 0.16666667, 0.33333333,
       0.44444444, 0.375     , 0.375     , 0.2       , 0.375     ,
       0.25      , 0.16666667, 0.25      , 0.375     , 0.2       ,
       0.4       , 0.22222222, 0.25      , 0.22222222, 0.2       ,
       0.25      , 0.16666667, 0.4       , 0.27272727, 0.36363636,
       0.5       , 0.54545455, 0.27272727, 0.14285714, 1.        ,
       1.        , 1.        , 0.30769231, 0.30769231, 0.26666667,
       0.5       , 0.21428571, 0.36363636, 0.66666667, 0.36363636,
       0.5       , 0.57142857, 0.57142857, 0.33333333, 0.36363636,
       0.21428571, 0.4       , 0.23076923, 0.33333333, 0.71428571,
       0.55555556, 0.55555556, 0.71428571, 0.5       , 0.45454545,
       0.23076923, 0.33333333, 0.72727273, 0.54545455, 0.5       ,
       0.38461538, 0.38461538, 0.44444444, 1.        , 0.66666667,
       0.42857143, 0.27272727, 0.8       , 0.53846154, 1.        ,
       0.6       , 0.5       , 0.53846154, 0.5       , 0.25      ,
       0.33333333, 0.18181818, 0.14285714, 0.42857143, 0.33333333,
       0.3       , 1.        , 0.3       , 0.27272727, 1.        ,
       0.45454545, 0.6       , 0.33333333, 0.42857143, 0.16666667,
       0.25      , 0.5       ])

In [ ]:
len_intersection_seq[8], len_union_seq[8]

(9, 9)

In [ ]:
seqs.loc[8:8]

                            0                           1
8  {, w, i, n, l, t, g, m, o}  {, w, i, n, l, t, g, m, o}

In [ ]:
df.loc[8:9]

   LatD  LatM  LatS NS  LonD  LonM  LonS EW        City State
8    34    14    24  N    77    55    11  W  wilmington    NC
9    39    45     0  N    75    33     0  W  wilmington    DE

In [ ]:
slice1.tail(5), slice2.tail(5), seqs.tail(4)

(    0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16 17 18 19
 122     r  h  i  n  e  l  a  n  d  e  r
 123     r  e  n  o
 124     r  e  g  i  n  a
 125     r  e  d     b  l  u  f  f
 126     r  e  a  d  i  n  g                                    ,
     0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16 17 18 19
 123     r  e  n  o
 124     r  e  g  i  n  a
 125     r  e  d     b  l  u  f  f
 126     r  e  a  d  i  n  g
 127     r  a  v  e  n  n  a                                    ,
                               0                           1
 123              {, e, r, n, o}        {, e, a, r, i, n, g}
 124        {, e, a, r, i, n, g}  {, e, r, u,  , l, d, b, f}
 125  {, e, r, u,  , l, d, b, f}     {, e, a, r, i, n, d, g}
 126     {, e, a, r, i, n, d, g}           {, v, a, e, r, n})

In [ ]:
s = {'e', 'r', 'n', 'o'}

In [ ]:
f = lambda x:ord(x) - 97

In [ ]:
s_ = frozenset(sorted(list(map(f, s))))

In [ ]:
hash(s_)

-3319252525346066722

In [ ]:
seed = s.encode()

In [ ]:
hash('erno')

710175682857287898